#* ========================================================================
 * Copyright (c) 2011 The University of Washington
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * ========================================================================
 *#

##
## cert list (ajax request xml)
##

<certs>
#foreach ( $cert in $certs )
#set ($cas='uw')
#if ($cert.ca==2) #set ($cas='ic') #end

#set ($crtcl="")
#if ($cert.status==1) #set ($crtcl='reqip') #end
#if ($cert.status==2) #set ($crtcl='reqok') #end
#if ($cert.status==3) #set ($crtcl='reqip') #end
#if ($cert.status==5) #set ($crtcl='reqex') #end

#if ($cert.expires)
  #set ( $displayExp = $dateFormatter.format($cert.expires) )
#else
  #set ($displayExp='')
#end
#set ($id="000" + $cert.id)
#if ($cert.id>100) #set ($id="00" + $cert.id) #end
#if ($cert.id>1000) #set ($id="0" + $cert.id) #end
#if ($cert.id>10000) #set ($id=$cert.id) #end
 <cert>
  <no>$id</no>
  <ca>$cas</ca>
  <caid>$cert.caId</caid>
  <cn>$cert.cn</cn>
  <status>$!{cert.statusText}</status>
  <expires>$!{displayExp}</expires>
 </cert>
#end
</certs>

