########
##

# ----------------------------------------------------------------------
# local cs apache port 443 config for cert service
# ----------------------------------------------------------------------
#

ProxyPass /cs ajp://localhost:8009/cs

# browser authn
<LocationMatch /cs/login>
  RequestHeader set Content-type application/xml
  AuthType shibboleth
  ShibRequireSession On
  require valid-user
  require user fox
  order allow,deny
  allow from all
</LocationMatch>

# browser authn secure
<LocationMatch /cs/securelogin>
  RequestHeader set Content-type application/xml
  AuthType shibboleth
  ShibRequireSessionWith UWSECURE
  require valid-user
  order allow,deny
  allow from all
</LocationMatch>

# browser authn via google
<LocationMatch /cs/googlelogin>
  RequestHeader set Content-type application/xml
  AuthType shibboleth
  ShibRequireSession On
  shibRequireSessionWith UWGOOGLE
  require valid-user
  order allow,deny
  allow from all
</LocationMatch>

# browser authn via incommon
<LocationMatch /cs/incommonlogin>
  RequestHeader set Content-type application/xml
  AuthType shibboleth
  ShibRequireSession On
  shibRequireSessionWith DSBASIC
  require valid-user
  order allow,deny
  allow from all
</LocationMatch>

# cert client authn
<Location /cs/ws/>
RequestHeader set Content-type application/xml
SSLRequireSSL
SSLVerifyClient require
SSLVerifyDepth 5
SSLOptions +StdEnvVars +ExportCertData
Options -MultiViews
order allow,deny
allow from all
</Location>



