#* ========================================================================
 * Copyright (c) 2014 The University of Washington
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * ========================================================================
 *#

##
## new uwca request 
##

## UW cert request
<div id="newuwcert" dojoType="dijit.layout.ContentPane" title="New UWCA Certificate" $hide>

<table class="iamtable">

 <tr><th colspan="3">Request UWCA certificate</td></tr>
 <tr><td title="The PEM text of yout certificate request">CSR</td>
    <td><input class="csrbox" id="uw_csr" rows="6" cols="66" dojoType="dijit.form.SimpleTextarea"
          style="border: 1px inset #202020;">
        </input></td>
     </tr><tr><td></td>
     <td>
       <ul>
         <li>Your CSR must specify: C=US, ST=WA, O=University of Washington.</li>
         <li>The CN and any Alternate names in your CSR must be fully qualified DNS names.</li>
         <li>You must be a registered owner of all DNS names in your request.</li>
		 <li>If your application requires a SHA-1 certificate (this is rare), please email <a href="mailto:help@uw.edu">help@uw.edu</a>.</li>
       </ul>
      </td>
  </tr>

 <tr>
     <td>Type</td>
         <td><select id="uw_cert_type" dojoType="dijit.form.FilteringSelect" ${inactive}>
          <option value="1" selected="selected">Webserver</option>
          <option value="2">Client-Server</option>
          </select>
         </td>
     <td></td>
     </tr>

 <tr><td>Server</td>
         <td><select id="uw_server_type" dojoType="dijit.form.FilteringSelect">
          <option value="2" selected="selected">Apache</option>
          <option value="13" >Microsoft IIS 1.x to 4.x</option>
          <option value="14" >Microsoft IIS 5.x and later</option>
          <option value="24" >Tomcat</option>
          <option value="-1" >Other</option>
          </select>
         </td>
     <td></td>
      </tr>


 <tr><td>Number of servers</td>
         <td><select id="uw_num_server" dojoType="dijit.form.FilteringSelect">
          <option value="1" selected="selected">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">more</option>
          </select>
         </td>
     <td></td>
      </tr>


 <tr>
      <td>Lifetime</td>
         <td><select id="uw_lifetime" dojoType="dijit.form.FilteringSelect">
          <option value="3" >3 months</option>
          <option value="12" >1 year</option>
          <option value="24" selected="selected">2 years</option>
          </select>
         </td>
     <td></td>
     </tr>

  </table>

      <button id="uwSubmitButton" dojoType="dijit.form.Button" type="button">
       Submit request
       <script type="dojo/method" event="onClick" args="evt">
          submitNewRequest('uw');
       </script>
      </button>

<div id="uwResult"></div>

</div>

